html {
  margin: 0;
  padding: 0;
  border: 0;
  _background-image: url(n1othing.txt);
}
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
code,
del,
dfn,
em,
img,
q,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
tbody,
tfoot,
thead,
article,
aside,
dialog,
figure,
footer,
header,
hgroup,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
ol,
ul,
li {
  list-style: none;
}
body {
  line-height: 1.5;
  background: white;
  font-family: 'Microsoft Yahei', Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #333;
}
table,
tr,
th,
td {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  float: none !important;
}
table,
th,
td,
select,
img,
input,
object {
  vertical-align: middle;
}
:focus {
  outline: 0;
}
input,
select {
  margin: 0;
}
a {
  color: #005EA7;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
p,
a,
td {
  word-wrap: break-word;
  word-break: break-all;
}
img {
  border: none;
  vertical-align: top;
}
textarea {
  resize: none;
  border: 1px solid #ccc;
}
textarea:hover {
  border-color: #ccc;
}
dfn {
  font-style: normal;
  font-family: Arial;
}
.layout {
  padding: 0 15px;
  overflow: hidden;
}
.tipinfo {
  font-size: 12px;
  color: #ff0000;
  line-height: 120%;
}
.commonTips {
  visibility: hidden;
  padding: 10px 20px;
  background: rgba(0, 0, 0, 0.8);
  font-size: 14px;
  color: #fff;
  line-height: 120%;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  white-space: nowrap;
  z-index: 99;
}
.btnBox {
  text-align: center;
}
.btn {
  border-radius: 25px;
  padding: 0 30px;
  min-width: 140px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
}
.btn.blue {
  color: #fff;
  background: #34c9e1;
}
.rec_btn {
  border-radius: 3px;
  height: 1.8rem;
  line-height: 1.8rem;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  font-size: 0.6rem;
}
.rec_btn.all_btn {
  width: 100%;
}
.rec_btn.blue {
  color: #fff;
  background: #34c9e1;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
/**
 * 循环初始字体大小:
 *     @end   : 结束字体大小(数字),必须输;
 *     @begin : 开始字体大小(数字),可以省略;
 *     @un    : 字体单位(字符串),可以省略;
 *     例子   : .base-fonts(28);
 */
/**
 * 循环初始默认样式:
 *     @name  : 样式前缀名,必须输;
 *    @style : 设置样式,必须输;
 *    @end   : 结束样式,必须输;
 *    @begin : 开始样式,可以省略;
 *    @mult  : 循环累加倍数,可以省略;
 *     @un    : 字体单位(字符串),可以省略;
 *     例子   : .base-styles(mb,margin-bottom,30,5);
 */
/* 强制折行 */
/**
 * css3动画,只能写在调用页面,配合.css3( @style,@frames )使用;
 * 例子 :  
 * .keyframes(starts,{
        0% {transform:rotate(0deg)}
        100%{transform:rotate(360deg)}
    });
    .className{.css3(animation,starts 8s linear infinite .3s );}
 */
/* 默认浮动 */
.fl {
  float: left;
}
.fr {
  float: right;
}
.clear {
  *zoom: 1;
}
.clear:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  overflow: hidden;
}
/* 显示隐藏 */
.hide {
  display: none;
}
.show {
  display: block;
}
/* 文本方向 */
.tal {
  text-align: left;
}
.tar {
  text-align: right;
}
.tac {
  text-align: center;
}
/* 截取 */
.over {
  overflow: hidden;
}
.ofv {
  overflow: visible !important;
}
/* 定位 */
.abs {
  position: absolute;
}
.rel {
  position: relative;
}
/* 鼠标手势 */
.cursor {
  cursor: pointer;
}
.def {
  cursor: default;
}
/* 。。。。 */
.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
/* 强制折行 */
.break-word {
  word-break: break-all;
  /*支持IE，chrome，FF不支持*/
}
header {
  padding: 15px 5%;
  border-bottom: 1px solid #ccc;
}
header .backpre {
  float: left;
}
header .backpre img {
  width: 30px;
  height: 30px;
}
header .headTitle {
  display: block;
  text-align: center;
  line-height: 30px;
  font-size: 18px;
}
.withdramBank {
  padding: 20px 0;
  font-size: 0;
  border-bottom: 1px solid #ccc;
}
.withdramBank .bankIco {
  vertical-align: middle;
  width: 45px;
  height: 45px;
}
.withdramBank .bankInfo {
  display: inline-block;
  vertical-align: middle;
  padding-left: 15px;
}
.withdramBank .bankInfo .bankName {
  font-size: 15px;
  color: #000;
  line-height: 100%;
}
.withdramBank .bankInfo .cardNumber {
  font-size: 15px;
  color: #333;
  line-height: 100%;
  padding-top: 10px;
}
.moneyInfo {
  padding: 20px 0;
}
.moneyInfo span {
  font-size: 15px;
  color: #333;
}
.moneyInfo .editMoney {
  padding-top: 10px;
  font-size: 20px;
  border-bottom: 1px solid #ccc;
}
.moneyInfo .editMoney#remark {
  display: none;
  font-size: 14px;
}
.moneyInfo .editMoney#remark input {
  font-weight: 100;
  font-size: 16px;
}
.moneyInfo .editMoney input {
  width: 80%;
  line-height: 25px;
  font-size: 18px;
  color: #1d1d1d;
  border: none;
}
.moneyInfo .withdramTip {
  padding-top: 5px;
}
.moneyInfo .withdramTip .amount {
  color: #005EA7;
}
/*****提现记录*****/
.withdramList .withdramItem {
  display: block;
  overflow: hidden;
  padding: 12px 15px;
  border-bottom: 1px solid #e3e3e3;
}
.withdramList .withdramItem .wid55 {
  width: 55px;
}
.withdramList .withdramItem .withdrawtitle {
  font-size: 17px;
  color: #2c2c2c;
  line-height: 100%;
  padding-bottom: 7px;
  font-weight: 100;
}
.withdramList .withdramItem .withdrawtime {
  font-size: 12px;
  color: #8a8a8a;
  line-height: 100%;
}
.withdramList .withdramItem .withdrawprice {
  font-size: 17px;
  color: #2c2c2c;
  line-height: 100%;
  padding-bottom: 6px;
  text-align: left;
  font-weight: 100;
}
.withdramList .withdramItem .withdrawstate {
  font-size: 12px;
  color: #1C86EE;
  line-height: 100%;
  text-align: left;
}
.withdramList .withdramItem .withdrawstate.red {
  color: #B22222;
}
.withdramList .withdramItem .moreIco {
  float: right;
  width: 7px;
  height: 12px;
  background-image: url(../images/icon/moreIco.png);
  background-size: 100% 100%;
  margin-top: 12px;
  margin-left: 15px;
}
.withdrawDetail {
  text-align: center;
}
.withdrawDetail .withdramStep {
  padding-top: 30px;
  display: inline-block;
}
.withdrawDetail .withdramStep li {
  position: relative;
  margin-bottom: 20px;
}
.withdrawDetail .withdramStep li .stepStatus {
  float: left;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  margin-top: 8px;
}
.withdrawDetail .withdramStep li .stepStatus.stepicon0 {
  background-image: url(../images/u1048.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.withdrawDetail .withdramStep li .stepStatus:after {
  content: "";
  position: absolute;
  width: 3px;
  height: 55px;
  background: #0099FF;
  left: 13px;
  top: 30px;
}
.withdrawDetail .withdramStep li .stepInfo {
  overflow: auto;
}
.withdrawDetail .withdramStep li .stepInfo p {
  font-size: 17px;
  color: #2c2c2c;
  line-height: 100%;
  padding: 5px 0;
  text-align: left;
  max-width: 190px;
}
.withdrawDetail .withdramStep li .stepInfo p:last-child {
  font-size: 14px;
}
.withdrawDetail .withdramStep li .stepInfo p span {
  padding-left: 5px;
  font-size: 14px;
}
.withdrawDetail .withdramStep li:last-child .stepStatus:after {
  height: 0;
}
.psdInput {
  color: #000;
  font-size: 17px;
}
.mt20 {
  margin-top: 20PX;
}
.mt30 {
  margin-top: 30PX;
}
.mt40 {
  margin-top: 40PX;
}
.mt50 {
  margin-top: 50PX;
}
.mt60 {
  margin-top: 60PX;
}
.psdTips {
  font-size: 0.4rem;
  color: #96a0b2;
}
.errorTips {
  font-size: 12px;
  padding-left: 15px;
  color: #ff0000;
  line-height: 120%;
  padding-top: 5px;
}
/***********修改密码************/
.edit_box {
  margin-bottom: 0.4rem;
  padding: 0.44rem 0;
  border: 1px solid #ccd0df;
  border-radius: 3px;
}
.edit_box .edit_box_ico {
  float: left;
  width: 1.76rem;
  height: 0.7rem;
  border-right: 1px solid #96a0b2;
  background: url(../images/icon/psdico.png) no-repeat center;
  background-size: 0.54rem;
}
.edit_box .edit_box_input {
  overflow: hidden;
  border: none;
  outline: none;
  text-indent: 0.72rem;
  white-space: nowrap;
  line-height: 0.7rem;
  width: 80%;
}
.editSuc {
  font-size: 0.68rem;
  color: #282e3a;
  line-height: 100%;
  padding-top: 1.5rem;
  padding-bottom: 3.48rem;
  text-align: center;
  background: url(../images/icon/suc_ico.png) no-repeat center bottom;
  background-size: 2.4rem 2.4rem;
  margin-bottom: 3rem;
}
